// app global css in SCSS form
// app global css in SCSS form
* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f5f6fa;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.r {
  padding: 12px !important;
  width: fit-content !important;
}

.carousel-style {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.title-class {
  display: flex;
  justify-content: center;
  color: $dark;
}

.button-class {
  color: $grey-1;
  border-radius: 20px;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 15px auto;
  margin-bottom: 25px;
}

.username-box {
  width: 70%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 8px auto;
}

.card-container {
  position: relative;
  top: 15vh;
  margin: 0 auto;
  max-width: 390px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 10px;
}

.card-containerRegister {
  position: relative;
  // top: 15vh;
  margin: auto;
  width: 60%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  padding: 20px;
}

.u-traffic {
  margin: 15px auto;
  width: 140px;
}

.u-trafficRegister {
  margin: 15px auto;
  width: 140px;
}

.background {
  background-color: #31d3ae;
}

.card-header {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.register {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.register-text {
  margin: 0 auto;
  margin-bottom: 15px;
  color: $dark;
}

.register a {
  color: $primary;
  margin-left: 5px;
}

.fade-enter-from {
  opacity: 0;
}

.fade-move,
.fade-enter-active {
  transition: all 1s ease-in-out;
}

//Table Styles
.table-container {
  margin: 0 auto;
  // margin-top: 00px;
  // margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: fit-content;
  // max-width: 800px;
  // min-width: 550px;
}

//Media Queries

@media only screen and (max-width: 600px) {
  .card-container {
    max-width: 350px;
  }
}
